.modal{
    display: none; /* Hide by default */
    position: fixed; /* modal will stay in place when browser is resized */
    z-index: 1;     /* Modal will sit in front of normal webpage */
    padding-top: 100px; /* Location of box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if modal is larger than window */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);

}

/* contains the the image and all the text elements within a container */
.wrapper{
    margin: auto; 
    position: relative; 
    width: 1000px; 
    border: 4px solid black; 
    background-color: #f1f1f1;
}

/* Image of modal */
.img-content{
    float: left;
    margin: 25px;
    width: 80%;
    max-width: 400px;
    height: 250px;
    /* border: 1px solid red; */
}
/* Works as a wrapper that contains title */
.article-content{
    float: right;
    position: relative;
    height: 240px; 
    width: 50%; 
    margin: 15px;
    /* border: 1px solid green; */
}

/* Title of modal */
.title-content{
    float: left;  
    position: absolute;
    top: 0;
    width: 100%; 
    word-wrap: normal; 
    font-size: 35px; 
	font-family:"Times New Roman", Times, serif;
    font-style: bold; 
    color: black;
    /* border: 1px solid red; */
}

/*body of modal */
.paragraph-content{
    width: 100%;
    clear: both;
    padding: 15px;
    /* border: 1px solid red; */
}

li{
    margin: 0;
    padding: 0;
    list-style-type: none;
    /* border: 1px solid sandybrown; */
}

.source{
    padding: 0;
    padding-top: 20px;
    padding-left: 30px;
}

.close{
    position: absolute;
    top: 100px;
    right: 400px;
    color: #f1f1f1;
}

.close:hover,
.close:focus{
   color: #bbb;
   text-decoration: none;
   cursor: pointer; 
}


@media (max-width: 700px){
    .wrapper{
        width: 400px;
        margin: auto;
    }
    .article-content{
        float: none;
        clear: both;
        width: 90%;
        height: 150px;
        margin: auto;
    }
    .img-content{
        float: none;
        width: 100%;
        margin: auto;
        clear: both;
    }
    .title-content{
        float: none;
    }
}
