body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.card{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.5s;
    border-radius: 5px; 
    overflow: hidden;
    position: relative;
    backface-visibility: hidden;
    opacity: 1;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    opacity: 1;
}

.card:hover .overlay{
    opacity: 1;
}

.overlay{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-10%, -30%);
}


.grid{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 400px;
    justify-content: center;
    grid-gap: 100px;
}

img {
	border-radius: 5px 5px 0 0;
}

.urlImage {
    height: 150px; 
    width: 100%;
}

h4{
    margin: 10px;
    text-align: left;
}

h1{
    text-align: center;
    padding: 30px;
}

p{
    margin: 10px;
}

.overlay{
    
}

@media (min-width: 700px){
    .grid{
        grid-template-columns: 300px 300px;
        grid-template-rows: 400px 400px 400px 400px 400px 400px;
    }
}

@media (min-width: 1024px){
    .grid{
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 400px 400px 400px 400px;
    }
}
