{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron" style="background-color:transparent">
    <div class="front-door-banner">
        <h1 class="front-door-banner__header">NEWS YOU CAN TRUST</h1>
        <h2 class="front-door-banner__subheader">Politics on the rise</h2>
        <p style="text-align: center"><a href="{% url 'register' %}" class="btn btn-primary btn-large">Sign Up</a></p>
     </div>
</div>

<hr/>


    <div class="grid">
    {% for article in Articles %}
        <div id="card{{article.id}}"class="card" style="position:relative;">
            <img id="myImg{{article.id}}" class="urlImage" src={{article.urlImage}} /> 
            <h4 id="title{{article.id}}"> {{article.title}}</h4>
            <p>{{article.description}}</p>
        </div>

        <div id={{article.id}} class="modal">
            <span class="close"> &times; </span>
            
            <div class="wrapper">
                <img class="img-content" id="img{{article.id}}">
                <div class="article-content">
                    <h5 id="modalTitle{{article.id}}" class="title-content" ></h5>
                    <ul class="source">
                        <li>  <h5 id="reference{{article.id}}"></h5> </li>
                        <li> <div > <a id="url{{article.id}}" target="_blank" text-decoration: "none" href="">Source</a> </div></li>
                        <li> <h5 id="published{{article.id}}"></h5> </li>
                    </ul>
                </div>
                
                <div class="text-content">
                    <p style="margin: 10px; text-align: justify" id="text{{article.id}}"></p>
                    
                </div>
            </div>
        </div>

        <script>
            
            var modal = document.getElementById('{{article.id}}');
            var modalImg = document.getElementById('img{{article.id}}');
            var img = document.getElementById('card{{article.id}}');
            img.style.cursor = "pointer";
            var caption = document.getElementById('text{{article.id}}');
            var author = document.getElementById('reference{{article.id}}');
            var title = document.getElementById('modalTitle{{article.id}}');
            var url = document.getElementById('url{{article.id}}');
            var published = document.getElementById('published{{article.id}}');
            img.onclick = function(){
                modal.style.display = "block";
                modalImg.src = '{{article.urlImage}}';
                title.innerHTML = '{{article.title}}';
                caption.innerHTML = '{{article.text}}';
                author.innerHTML = 'Author:'+' {{article.author}}';
                url.setAttribute("href",'{{article.url}}');
                url.innerHTML = '{{article.source}}';
                published.innerHTML = '{{article.publishedOn}}';
            }
            
            window.onclick = function(event){
                if (event.target == modal){
                    modal.style.display = "none";
                }
            }

            // var span = document.getElementsByClassName("close")[i+1];
            // console.log(span);
            // span.onclick = function(){
            //     modal.style.display = "none";
            // }
        </script>
    {%endfor%}
    </div>

{% endblock %}
