{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron" style="background-color:transparent">
    <div class="front-door-banner">
        <h1 class="front-door-banner__header">NEWS YOU CAN TRUST</h1>
        <h2 class="front-door-banner__subheader">Politics on the rise</h2>
        <p style="text-align: center"><a href="{% url 'register' %}" class="btn btn-primary btn-large">Sign Up</a></p>
     </div>
</div>

<hr/>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Django gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}