{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<hr />

<h4>{{ message }}</h4>

<h5></h5>

<script type="text/javascript" src="https://tool.votinginfoproject.org/app.js"></script> 
<div id="_vit" style="margin-left:25px;margin-top:25px"></div> <script type="text/javascript">vit.load({
    modal: true,
    title: 'Voting Information Tool',
    width: '640px', height: '480px',
    colors: { 'header': '#229acd', 'landscapeBackgroundHeader': '#228a9d' },
    language: 'en'
});</script>
    
{% endblock %}